/* 
    Created on : 11-Oct-2016, 21:10:11
    Author     : Cameron
*/
/*

Z-INDEXES

-50 : background
0 - 39 : main content
40 : breadcrumbs
50 : navigation bar

*/
/* Fonts and stuff */
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf"); }
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf"); }
/* Body styling */
html {
  overflow-y: scroll; }

body {
  font-family: "Open Sans Regular", Arial, sans-serif; }

.off-canvas-content {
  background-color: #E6E6E6;
  min-height: 100vh; }

/* Nav */
.off-canvas {
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.12); }

.navigation {
  background-color: white;
  height: 100vh; }
  .navigation p {
    width: 100%;
    line-height: 40px;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0px; }
  .navigation li {
    text-align: center; }

/* General grid */
.body-container {
  padding: 0px; }

.content-box {
  background-color: white;
  padding: 20px; }

@media (min-width: 1820px) {
  .row {
    max-width: 90%; }

  .body-container {
    margin-top: 40px;
    margin-bottom: 40px; } }
@media (max-width: 1476px) {
  .off-canvas-content {
    background-color: white; }

  .off-canvas {
    box-shadow: none; }

  .navigation {
    background-color: #e6e6e6; } }
/* Breadcrumbs */
.breadcrumbs {
  margin: 0;
  height: 40px;
  position: static;
  padding-left: 20px;
  overflow: hidden; }
  .breadcrumbs .bc-action {
    float: right;
    line-height: 40px;
    margin-right: 5px; }
    .breadcrumbs .bc-action i {
      float: left;
      margin-right: 5px; }
  .breadcrumbs i {
    line-height: 40px;
    vertical-align: middle;
    font-size: 32px;
    height: 44px;
    color: white; }
  .breadcrumbs a {
    color: white;
    line-height: 40px; }
  .breadcrumbs button {
    float: left;
    margin-right: 10px; }

/* List */
.list {
  background-color: white; }
  .list .listcontrols {
    height: 40px;
    line-height: 40px;
    background-color: white;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.12); }
    .list .listcontrols input {
      width: auto;
      border: none;
      float: left;
      margin: 0px;
      box-shadow: none;
      background-color: transparent; }
    .list .listcontrols i {
      cursor: pointer; }
    .list .listcontrols i, .list .listcontrols .pagenum {
      float: right;
      line-height: 40px; }
    .list .listcontrols .empty {
      float: left;
      margin-left: 20px; }

.list-filter {
  height: 40px;
  line-height: 40px;
  background-color: #f6f6f6;
  padding: 0px 10px; }
  .list-filter .links {
    float: right; }
  .list-filter a {
    text-decoration: underline; }

/* Forms */
.form {
  background-color: white; }
  .form h3 {
    height: 40px;
    font-size: 100%;
    padding-left: 20px;
    line-height: 40px;
    background-color: white;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.12); }
    .form h3 .tiny div {
      box-shadow: none !important; }
      .form h3 .tiny div textarea {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
      .form h3 .tiny div .button {
        margin-left: 5px; }
  .form .cke {
    border: none;
    box-shadow: none;
    margin-left: -15px;
    margin-right: -15px; }
  .form .cke_bottom {
    background-color: #2196F3;
    color: white; }
  .form .cke_path {
    color: white; }
  .form .callout.secondary {
    background-color: transparent;
    border: none;
    padding-bottom: 0px; }
  .form div[data-schematype="boolean"] .form-control {
    height: 50px;
    line-height: 50px; }
    .form div[data-schematype="boolean"] .form-control label {
      line-height: 50px; }
      .form div[data-schematype="boolean"] .form-control label input {
        float: right;
        height: 50px; }
  .form .button {
    border-radius: 5px; }
  .form .control-row {
    height: 50px;
    line-height: 40px;
    padding: 0px 20px 10px 20px; }
    .form .control-row .span {
      float: left;
      line-height: 40px; }
    .form .control-row button {
      float: right;
      line-height: 36px;
      padding: 0px 10px 0px 10px;
      margin: 2px 10px 0px 0px;
      height: 36px;
      font-size: 0.9rem; }

/* Video previews */
.video-info {
  background-color: white;
  padding: 0px; }

.video-info-text {
  padding: 15px; }

.video-preview-parent {
  width: 100%; }

.video-preview-container {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }

.video-preview {
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: none; }

/* Generic fixes */
input[type="text"] {
  height: auto; }

.selectize-input {
  border-radius: 0px;
  border: 1px solid #cacaca;
  height: 40px;
  line-height: 20px; }

.row .row {
  max-width: none; }

/*# sourceMappingURL=main.css.map */
