/* 
    Created on : 13-Oct-2016, 00:26:10
    Author     : Cameron
*/

/* Object list styles */

.objectList{
    width:100%;
    margin:0px;
    border-spacing:0px;
    clear:both;
    
    tbody tr{
        cursor:pointer;
        overflow:hidden; 
    }
    
    tbody tr:hover{
        background-color:$primary-medium;
        color:white;
    } 
    
    th{
        margin:0px;
        text-align:center;
        height:50px;
        padding:0px 15px;
        max-width:400px;
        overflow:hidden;
        /* border-bottom: 1px solid $weak-border; */
        height:56px;
        font-famiy:"Roboto Bold";
    }
    
    td{
        height:50px;
        text-align:center;
        overflow:hidden;
    }
    a{
        text-decoration:none;
        text-align:center;
        color:inherit;
        line-height:100%;
        display:inline-block;
        vertical-align:middle;
    }
    
    .material-icons{
        cursor:pointer;
        display:block;
        height:50px;
        line-height:50px;
        font-size:25px;
    }
    
    .green{
        color:#76FF03;
    }
}
.listWrapper{
    min-height:300px;
    i{
        cursor:pointer;
        font-size:2em;
        float:right;
        line-height:inherit;
        -webkit-user-select:none;
        -moz-user-select:none;
        user-select:none;
        line-height:40px;
    }
}

.listcontrols{
    height:40px;
    white-space:nowrap;
    border-bottom: 1px dashed rgba(0,0,0,0.12);
    
    input{
        padding-left:10px;
        margin-right:10px;
        height:38px;
        border:none;
        outline:none;
        min-width:250px;
    }
    input:focus{
        outline:none;
    }
    
    .pagenum{
        float:right;
        line-height:40px;
    }
}