/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Oct-2016, 01:32:37
    Author     : camer
*/

html{
    overflow-y:auto;
}



.theme-color{
    background-color:inherit;
}

#studio-parent{
    font-family: monospace;
    color:white;
}

#studio-parent a{
    text-decoration: underline;
    color:inherit;
}

.off-canvas-content{
    background-color: black;
    color:white;
}

.studio-title{
    width:100%;
    clear:both;
    text-transform:uppercase;
    text-align:center;
    font-family: monospace;
    margin-bottom:0px;
    padding-bottom:5px;
    font-size:26px;
}

iframe{
    width:100%;
    border:none;   
}

.video-preview{
    background-color:transparent;
}

.title-preview{ border-bottom: 5px solid green; }
.title-program{ border-bottom: 5px solid red; }

.live-row{
    height:40px;
    line-height:40px;
    margin-top:5px;
    margin-bottom:5px;
}

.live-row span, .live-row button{
    height:40px;
    line-height:40px;
}

.live-btn{
    font-size:20px;
    padding:0px 10px;
    text-transform:uppercase;
}

.btn-fx{
    transition:background-color 0.25s;
    border:1px solid white;
}

.btn-fx:hover{
    height:38px;
    background-color:orange;
    border:1px solid orange;
}

.live-btn.status-true{
    background-color:red;
}
.live-btn.status-false{
    background-color:green;
}

/* Meta info section */
.meta-section{
    font-size:18px;
}

.info-title{
    font-size: 20px;
    float:left;
}
.info-link{
    float:right;
    color:white;
    text-decoration:underline;
}
.info-state{
    clear:both;
}
.info-type{
    clear:both;
}
.info-tags{
    
}
.info-description{
    clear:both;
    width:100%;
}